SisAD/Web References/sislogin/autentica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CadastrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txt_nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txt_senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txt_email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastrarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" nillable="true" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractBaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Usuarios" type="tns:ArrayOfUsuario" />
            </s:sequence>
            <s:attribute name="status" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AbstractBaseResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="exception" type="tns:ExceptionResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExceptionResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="exceptions" type="tns:ArrayOfExceptionTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfExceptionTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExceptionTO" nillable="true" type="tns:ExceptionTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExceptionTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="detail" type="s:string" />
        </s:sequence>
        <s:attribute name="key" type="s:string" />
      </s:complexType>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="txt_nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txt_senha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txt_nova_senha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="txt_email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_ativo" type="s:boolean" />
        </s:sequence>
        <s:attribute name="id" type="s:int" use="required" />
      </s:complexType>
      <s:element name="AlterarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="txt_nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txt_email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" nillable="true" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarSenha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="txt_senha_atual" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txt_nova_senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarSenhaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" nillable="true" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="txt_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txt_senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" nillable="true" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txt_nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txt_email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" nillable="true" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="return" nillable="true" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CadastrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CadastrarUsuario" />
  </wsdl:message>
  <wsdl:message name="CadastrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CadastrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarUsuario" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarSenhaSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarSenha" />
  </wsdl:message>
  <wsdl:message name="AlterarSenhaSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarSenhaResponse" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ListarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ListarUsuario" />
  </wsdl:message>
  <wsdl:message name="ListarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ListarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarUsuario" />
  </wsdl:message>
  <wsdl:message name="CancelarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="AutenticaSoap">
    <wsdl:operation name="CadastrarUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cadastrar novo usuário</wsdl:documentation>
      <wsdl:input message="tns:CadastrarUsuarioSoapIn" />
      <wsdl:output message="tns:CadastrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Alterar usuário</wsdl:documentation>
      <wsdl:input message="tns:AlterarUsuarioSoapIn" />
      <wsdl:output message="tns:AlterarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarSenha">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Alterar senha</wsdl:documentation>
      <wsdl:input message="tns:AlterarSenhaSoapIn" />
      <wsdl:output message="tns:AlterarSenhaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autenticar usuário</wsdl:documentation>
      <wsdl:input message="tns:AutenticarUsuarioSoapIn" />
      <wsdl:output message="tns:AutenticarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar usuário</wsdl:documentation>
      <wsdl:input message="tns:ListarUsuarioSoapIn" />
      <wsdl:output message="tns:ListarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarUsuario">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancelar usuário</wsdl:documentation>
      <wsdl:input message="tns:CancelarUsuarioSoapIn" />
      <wsdl:output message="tns:CancelarUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutenticaSoap" type="tns:AutenticaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastrarUsuario">
      <soap:operation soapAction="http://tempuri.org/CadastrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarSenha">
      <soap:operation soapAction="http://tempuri.org/AlterarSenha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuario">
      <soap:operation soapAction="http://tempuri.org/AutenticarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <soap:operation soapAction="http://tempuri.org/ListarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarUsuario">
      <soap:operation soapAction="http://tempuri.org/CancelarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutenticaSoap12" type="tns:AutenticaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/CadastrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap12:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarSenha">
      <soap12:operation soapAction="http://tempuri.org/AlterarSenha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuario">
      <soap12:operation soapAction="http://tempuri.org/AutenticarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ListarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarUsuario">
      <soap12:operation soapAction="http://tempuri.org/CancelarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autentica">
    <wsdl:port name="AutenticaSoap" binding="tns:AutenticaSoap">
      <soap:address location="http://sislogin/Service/autentica.asmx" />
    </wsdl:port>
    <wsdl:port name="AutenticaSoap12" binding="tns:AutenticaSoap12">
      <soap12:address location="http://sislogin/Service/autentica.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>